Source: runstatus-cli
Section: python
Priority: extra
Homepage: http://github.com/exoscale/runstatus-cli
Maintainer: Exoscale <ops@exoscale.ch>
Build-Depends: debhelper (>= 9),
               dh-virtualenv (>= 0.8),
               lsb-release,
               python3.6,
               python3.6-dev,
               python3.6-venv,
Standards-Version: 3.9.5

Package: blobtool
Architecture: amd64
Pre-Depends: dpkg (>= 1.16.1),
             ${misc:Pre-Depends}
Depends: python3.6 (>= ${python:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: Runstatus-cli
